.person {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  width: calc($width-card + 20px);
  transition: all 0.3s ease 0s;

  &:hover {
    background-color: #eeeeee;
    border-radius: 10px;
    transform: scale(1.1);

    // .person__image {
    // }
    .person__details {
      opacity: 1;
    }
  }

  &__image {
    max-width: $width-card;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    overflow: hidden;

    & img {
      width: 100%;
      object-fit: cover;
    }
  }

  &__rank {
  }

  &__info {
  }

  &__name {
    font-size: 20px;
    font-weight: 700;
    color: $color-bold;
  }

  &__details {
    opacity: 0;
  }
}
