*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  padding: 0px;
  margin: 0px;
  border: none;
  box-sizing: border-box;
}

ol {
  margin: 0;
  // padding: 0;
}

a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */

section,
main {
  display: block;
}

h2,
p {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

img {
  vertical-align: top;
}

img {
  max-width: 100%;
  height: auto;
}
